body {
    text-align: auto;
    background-color: #9181ac;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;

}

body.dark_mode {
    background-color: black;
    color: white;
}

body.dark_mode  .hdng h1{
    color: white;
}

body.dark_mode  .desc{
    color: white;
}

body.light_mode {
    background-color: white;
    color: black;
}

body.light_mode .hdng h1{
    color: black;
}

body.light_mode .desc{
    color: black;
}

.hdng {
    text-align: center;
    font-size: 24px;
    color: #48c07c;
    margin-top: 0;
    padding-top: 24px;
    background-color: rgb(90, 37, 91);
}

.img {
    float: left;
    text-align: left;
    padding: 8px;
}

.desc {
    font-size: 18px;
    margin: 8px;
}

.jvscrpt {
    text-align: center;
    background-color: rgb(90, 37, 91);
    padding: 8px;
    font-size: 24px;
    bottom: 200px;
    position: fixed;
    width: 100%;
    left: 0;
}

.cpyrt {
    text-align: center;
    background-color: #9181ac;
    padding: 8px;
    font-size: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.settings {
    top: 10px;
    right: 10px;
    position: fixed;
    z-index: 1000;

}

#settin {
    text-align: center;
}

.stats_theme {
    text-align: center;
}

.jvscrpt a {
    color: white;
    text-decoration: none;
}
