#ttc_game {
    background-color: antiquewhite;
}
body {
    text-align: auto;
    background-color: #9181ac;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;

}

body.dark_mode {
    background-color: rgb(37, 35, 35);
    color: white;
}

body.dark_mode  .hdng h1{
    color: white;
}

body.dark_mode  .desc{
    color: white;
}



.hdng {
    text-align: center;
    font-size: 24px;
    color: #48c07c;
    margin-top: 0;
    padding-top: 24px;
    background-color: rgb(90, 37, 91);
}

.hdng h1 {
    transition: color 0.3s;
}

.img {
    float: left;
    text-align: left;
    padding: 8px;
}

.desc {
    font-size: 18px;
    margin: 8px;
    transition: color 0.3s;
}

.infor {
    display: flex;
}

.jvscrpt {
    text-align: center;
    background-color: rgb(90, 37, 91);
    padding: 8px;
    font-size: 24px;
}

.cpyrt {
    text-align: center;
    background-color: #9181ac;
    padding: 8px;
    font-size: 24px;
}

.settings {
    top: 10px;
    right: 10px;
    position: fixed;
    z-index: 1000;

}


#theme-toggle {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    border: 1px solid #888;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0;
    display: flex;
    align-items: center;
}

body.dark_mode #theme-toggle {
    background-color: #292929;
}

#theme-knob {
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    left: 2px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(33, 33, 33, 0.2);
}

body.dark_mode #theme-knob {
    transform: translateX(30px);
}

#theme-toggle img {
    width: 20px;
    height: 20px;
    display: block;
}

.stats_theme {
    text-align: center;
}

.jvscrpt a {
    color: white;
    text-decoration: none;
}

#t_buttons button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
}

#reset_game {
    width: 70px;
    height: 40px;
    margin: 8px;
}

#amcalc_bdy {
    margin: 10px;
}